*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    position: fixed;
    background-color: #ffffff00;
}

nav li a {
    display: block;
    color: rgb(127, 163, 229);
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75vw;
}

nav li a:hover {
    background-color: #5879c15a;
    color: #ffffff;
    text-shadow:
        0 0 7px #7dd4ff,
        0 0 21px #65c9ff,
        0 0 102px rgb(71, 163, 255),
        0 0 151px rgb(71, 163, 255);
}

/* earth home link */
.home-link {
    max-width: 5vw;
    max-height: 5vh;
    display: flex;
    position: fixed;
    top: 0.75vw;
    right: 2.1vw;
}

/* general page styles for scroll animation */
.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.pages {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.pages img {
    width: 100%;
    height: 100vh;
    display: flex;
    object-fit: cover;
}

.neon-text {
    color: #58e0ff;
    text-shadow:
        0 0 7px #7dd4ff,
        0 0 10px #77dbff,
        0 0 21px #65c9ff,
        0 0 92px rgb(71, 163, 255),
        0 0 102px rgb(71, 163, 255),
        0 0 151px rgb(71, 163, 255);
}

.about-page, .hobbies-page, .contacts-page {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.about-page.left {
    background-color: black;
    padding: 6vw;
    width: 50%;
    float: left;
}

.about-page.left h2 {
    color: white;
    font-size: 4vh;
    text-align: left;
    padding-top: 4vh;
}

.about-page.left p {
    color: white;
    line-height: 150%;
    font-size: 2vh;
    text-align: left;
    padding-left: 2vw;
    padding-top: 1.75vh;
}

.about-page.left ul {
    color: white;
    line-height: 150%;
    font-size: 2.1vh;
    text-align: left;
    padding-top: 1vh;
    padding-left: 6vw;
}

.about-page.right {
    background-color: black;
    padding: 6vw;
    z-index: 1;
}

.about-page.right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
}

.about-page.right p {
    color: white;
    line-height: 150%;
    font-size: 2vh;
    text-align: center;
    padding-left: 2vw;
    padding-top: 3vh;
    display: flex;
}

.about-page.right iframe {
    padding-top: 4vh;
    border-radius: 12px;
    width: 50%;
    height: 30%;
    border: none; 
    overflow: hidden;
}


.hobbies-page.col {
    background-color: black;
    /* padding: 6vw; */
    padding-top: 15vh;
    width: 33.33%;
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
}

.hobbies-page.col h2 {
    color: white;
    font-size: 4vh;
    text-align: center;
}




/* filler - to remove later */
.text-page {
    background-color: black;
}

.text-page h2 {
    color: white;
    font-size: 1vw;
    text-align: center;
}

