*{
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    position: fixed;
    background-color: #ffffff00;
}

.nav li a {
    display: block;
    color: rgb(127, 157, 229);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
}

.nav li a:hover {
    background-color: #5879c15a;
    color: rgb(233, 240, 255);
}

.home-link {
    max-width: 5vw;
    max-height: 5vh;
    display: flex;
    position: fixed;
    top: 20px;
    right: 35px;
}


.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.pages {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.pages img {
    width: 100%;
    height: 100vh;
    display: flex;
    object-fit: cover;
}

.text-page {
    background-color: black;
}

.text-page h2 {
    color: white;
    font-size: 100px;
}
